### Operator

- Python Operators (00:09:02 – 00:43:00)
- Python if-else (00:43:00 – 01:14:50)
- Python Modules (01:14:50 – 01:24:48)
- Python While Loop (01:24:48 – 01:48:03)
- Python for loop (01:48:03 – 02:11:34)

#### Arthematic Operator(+,-,*,/,%)

In [ ]:
# Addition
10 + 20

30

In [ ]:
# Substraction

20- 10

10

In [ ]:
# Multiplication

10*30

300

In [ ]:
# Square Operator
2**3

8

#### Comparision Operator

In [ ]:
print(1>2)
print(1<2)
print(1==2)
print(1!=2)
print(1>=2)
print(1<=2)

False
True
False
True
False
True

#### Logical Operator

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
not True

False

#### Bitwise Operator

In [ ]:
'''How We are getting 10
10 binary = 1010
AND
10 binary = 1010
=
Result = 1010 = 10(Result)'''

print(10 & 10)

10

In [ ]:
bin(10)

'0b1010'

In [ ]:
'''How We are getting 10
23 binary = 10111
AND
3 binary = 00011
=
Result = 00011 = 3(Result)'''

23 & 3

3

In [ ]:
'''How We are getting 10
34 binary = 100010
OR
23 binary = 010111
=
Result = 110111 = 55(Result)'''

34 | 23

55

#### Left & Right Shift Operator

In [ ]:
# Right Shift

30 >> 2

7

In [ ]:
# Left Shift 

20 << 2

80

#### Assignment Operator

In [ ]:
a = 10

In [ ]:
a = a +2
a

12

In [ ]:
a += 2
a

14

In [ ]:
a,b,c,d = 1,2,5.4,True

In [ ]:
print(a)
print(b)
print(c)
print(d)

1
2
5.4
True

#### Conditions

In [ ]:
a = 10

if a > 10:
    print("A is greater than 10")

A is not greater than 10

In [ ]:
if a > 10:
    print("A is greater than 10")
else:
    print("A is not greater than 10")

A is not greater than 10

In [ ]:
if a > 10:
    print("A is greater than 10")
elif a<= 10:
    print("A is equal to and less than 10")
else:
    print("A is not greater than 10")

A is equal to and less than 10

In [ ]:
a = int(input("Enter a value:"))
if a > 10:
    print("A is greater than 10")
elif a<= 10:
    print("A is equal to and less than 10")
else:
    print("A is not greater than 10")

A is equal to and less than 10

In [ ]:
n = 10
i = 1

while i < n:
    print(i)
    i = i + 1
else:
    print("This will only execute, once iteration will complete.")

1
2
3
4
5
6
7
8
9
This will only execute, once iteration will complete.

In [ ]:
n = 10
i = 1
while i < n:
    i = i + 1
    if i == 5:
        continue
    if i == 8:
        break
    print(i)
else:
    print("This will only execute, once iteration will complete.")

2
3
4
6
7

In [ ]:
name = "Vivek Jha"
for i in name:
    print(i)
else:
    print("This will execute, once for loop is going to complete")

V
i
v
e
k

J
h
a
This will execute, once for loop is going to complete

In [ ]:
name_char_list = [i for i in name]
print(name_char_list)

['V', 'i', 'v', 'e', 'k', ' ', 'J', 'h', 'a']

In [ ]:
[range(10)]

[range(0, 10)]