### Counting Item Occurrences

In [4]:
from collections import Counter

list1 = ['John', 'Vivek', 'Jha', 'John']

count_peter = Counter(list1).get("John")

print(f"The name appears in the list ", f"{count_peter} items.")

The name appears in the list  2 items.

In [5]:
# Create a count variable
count = 0
for name in list1:
    if name == 'John':
        count += 1

print(f"The name Peter appears in the list", f"{count} times.")

The name Peter appears in the list 2 times.

### Index of the Biggest and Smallest Number

In [1]:
x = [12,45,67,89,34,67,13,8]
max_num = max(enumerate(x, start=0), key=lambda x:x[1])
print("The index of the largest number is", max_num[0])

The index of the largest number is 3

In [2]:
min_num = min(enumerate(x, start=0), key=lambda x:x[1])
print("The index of the smallest number is", min_num[0])

The index of the smallest number is 7

### Absolute Value of a Numbers

In [1]:
list1 = [-12. -45, -67, -89, -34, 67, -13]
list1_abs = [abs(num) for num in list1]
print(list1_abs)

[57.0, 67, 89, 34, 67, 13]

In [2]:
a = -23.12
print(abs(a))

23.12

In [3]:
complex_num = 6 + 3j
print(abs(complex_num))

6.708203932499369

### Adding a Thousand Separator

In [4]:
a = [10989767, 9876780, 9908763]

new_list = ['{:,}'.format(num) for num in a]
print(new_list)

['10,989,767', '9,876,780', '9,908,763']

In [6]:
new_list = [f'{num:_}' for num in a]
print(new_list)

['10_989_767', '9_876_780', '9_908_763']

### Startswith and Endswith Methods

Using startwith()

In [7]:
list1 = ['lemon', 'orange', 'apple', 'apricot']

new_list = [i for i in list1 if i.startswith('a')]
print(new_list)

['apple', 'apricot']

Using endswith()

In [9]:
new_list = [i for i in list1 if i.endswith('e')]
print(new_list)

['orange', 'apple']

### Nlargest and Nsmalest

In [1]:
def sort_list(arr : list):
    a = sorted(arr, reverse=True)
    return a[:5]

results = [12, 32, 67, 98, 90, 55, 46, 74, 31]

print(sort_list(results))

[98, 90, 74, 67, 55]

#### Using nlargest

In [2]:
import heapq

results = [12, 32, 67, 98, 90, 55, 46, 74, 31]
print(heapq.nlargest(5, results))

[98, 90, 74, 67, 55]

#### Using nsmallest

In [3]:
import heapq

results = [12, 32, 67, 98, 90, 55, 46, 74, 31]
print(heapq.nsmallest(5, results))

[12, 31, 32, 46, 55]

#### Flatten Nested List

In [1]:
nested_list = [[12, 34, 56], [23, 45, 67], [34, 56, 78]]

new_list = sum(nested_list, [])
print(new_list)

[12, 34, 56, 23, 45, 67, 34, 56, 78]

Using reduce function

In [2]:
from functools import reduce

nested_list = [[12, 34, 56], [23, 45, 67], [34, 56, 78]]

new_list = reduce(lambda x, y: x + y, nested_list)

print(new_list)

[12, 34, 56, 23, 45, 67, 34, 56, 78]