### Tuple

1. Create and access a tuple
2. Can we edit and add items to a tuple?
3. Deletion
4. Operations on tuple
5. Tuple functions
6. List vs tuple
7. Tuple unpacking
8. Zip () on tuple

In [1]:
t = ()
type(t)

tuple

In [11]:
t1 = (1,2,3,4,5,6,7.5j, 'vivek', True)
type(t1)

tuple

In [12]:
t1[0]

1

In [13]:
t1[7]

'vivek'

In [14]:
t1[::-1]

(True, 'vivek', 7.5j, 6, 5, 4, 3, 2, 1)

In [15]:
t1 = t1[::-1]

In [16]:
t1

(True, 'vivek', 7.5j, 6, 5, 4, 3, 2, 1)

In [17]:
# Slicing
t1[0:3]

(True, 'vivek', 7.5j)

In [18]:
t1.count("vivek")

1

In [20]:
t1.index(6)

3

In [21]:
# Tuple object are immutable, you won't able to change anython into the tuple
t1[1] = "Hello"

TypeError: 'tuple' object does not support item assignment

In [22]:
# Extract All data with Type
for data in t1:
    print(data, type(data))

True <class 'bool'>
vivek <class 'str'>
7.5j <class 'complex'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [24]:
# Replicate the list in 3 times
t2 = [t1 * 3]
print(t2)

[(True, 'vivek', 7.5j, 6, 5, 4, 3, 2, 1, True, 'vivek', 7.5j, 6, 5, 4, 3, 2, 1, True, 'vivek', 7.5j, 6, 5, 4, 3, 2, 1)]

In [27]:
t3 = (1,2,3,4,5)

In [30]:
max(t3)
min(t3)

1

In [31]:
del t3

In [32]:
t3

NameError: name 't3' is not defined

In [32]:
d  = {}
type(d)

dict

In [53]:
d1 = {"Name": "Vivek", "Email": "abc@gmail.com", "mobile_no": 90000000}
print(type(d1))
print(d1)

<class 'dict'>
{'Name': 'Vivek', 'Email': 'abc@gmail.com', 'mobile_no': 90000000}

In [54]:
d2 = {"name": "Vivek", "name": "Vivek Jha"}
d2

{'name': 'Vivek Jha'}

In [55]:
d3 = {1234: "abc"}
d3

{1234: 'abc'}

In [56]:
d4 = {True: "abc"}
d4

{True: 'abc'}

In [57]:
# Spacel Case Character are not allow

d5 = {@: "abc"}
d5

SyntaxError: invalid syntax (3619499634.py, line 3)

In [58]:
# List as object are not allow

d5 = {[1,2,3,4]: "abc"}
d5

TypeError: unhashable type: 'list'

In [59]:
# Tuple are allow as key beacuse tuple are immutable
d5 = {(1,2,3,4): "abc"}
d5

{(1, 2, 3, 4): 'abc'}

In [60]:
# Set are not allow as key
d5 = {{1,2,3,4}: "abc"}
d5

TypeError: unhashable type: 'set'

In [61]:
# Dict are not allow as key
d6 = {{"abc": 123}: 123}
d6

TypeError: unhashable type: 'dict'

In [62]:
d7 = {"Lanaguage":["Java", "Python", "Kotlin"]}
d7

{'Lanaguage': ['Java', 'Python', 'Kotlin']}

In [63]:
d8 = {"number": (1,2,3,4,5,6)}
d8

{'number': (1, 2, 3, 4, 5, 6)}

In [64]:
d9 = {"number":{1,2,3,4,5,6}}
d9

{'number': {1, 2, 3, 4, 5, 6}}

In [10]:
d10 = {"key": {"Name": "Vivek", "last_n": "Jha"}}
d10

{'key': {'Name': 'Vivek', 'last_n': 'Jha'}}

In [2]:
d11 = {"student_name":["Vivek", "Vikash", "Ankit"], "joining_date":[10,14.12], "teacher_name":{"Amit Sir", "Sahay Sir", "Arvind Sir", "Arun Sir"}}
d11

{'student_name': ['Vivek', 'Vikash', 'Ankit'],
 'joining_date': [10, 14.12],
 'teacher_name': {'Amit Sir', 'Arun Sir', 'Arvind Sir', 'Sahay Sir'}}

In [3]:
d11["timning"] = ("4:30 AM", "5:30 PM")
d11

{'student_name': ['Vivek', 'Vikash', 'Ankit'],
 'joining_date': [10, 14.12],
 'teacher_name': {'Amit Sir', 'Arun Sir', 'Arvind Sir', 'Sahay Sir'},
 'timning': ('4:30 AM', '5:30 PM')}

In [5]:
d11['timning']

('4:30 AM', '5:30 PM')

In [8]:
'new_key' in d11

False

In [15]:
# Get Specific data into the multiple level dict

d10['key_1'] = 10
d10

{'key': {'Name': 'Vivek', 'last_n': 'Jha'}, 'key_1': 10}

In [16]:
del d10['key_1']
d10

{'key': {'Name': 'Vivek', 'last_n': 'Jha'}}

In [17]:
d10.clear()
d10

{}

In [18]:
len(d11)

4

In [20]:
d11.keys()

dict_keys(['student_name', 'joining_date', 'teacher_name', 'timning'])

In [21]:
d11.values()

dict_values([['Vivek', 'Vikash', 'Ankit'], [10, 14.12], {'Sahay Sir', 'Arvind Sir', 'Arun Sir', 'Amit Sir'}, ('4:30 AM', '5:30 PM')])

In [22]:
list(d11.values())

[['Vivek', 'Vikash', 'Ankit'],
 [10, 14.12],
 {'Amit Sir', 'Arun Sir', 'Arvind Sir', 'Sahay Sir'},
 ('4:30 AM', '5:30 PM')]

In [24]:
list(d11.keys())

['student_name', 'joining_date', 'teacher_name', 'timning']

In [27]:
list(d11.items())

[('student_name', ['Vivek', 'Vikash', 'Ankit']),
 ('joining_date', [10, 14.12]),
 ('teacher_name', {'Amit Sir', 'Arun Sir', 'Arvind Sir', 'Sahay Sir'}),
 ('timning', ('4:30 AM', '5:30 PM'))]

In [29]:
d12 = d11.copy()
d12

{'student_name': ['Vivek', 'Vikash', 'Ankit'],
 'joining_date': [10, 14.12],
 'teacher_name': {'Amit Sir', 'Arun Sir', 'Arvind Sir', 'Sahay Sir'},
 'timning': ('4:30 AM', '5:30 PM')}

In [28]:
for key, val in d11.items():
    print(key, val)

student_name ['Vivek', 'Vikash', 'Ankit']
joining_date [10, 14.12]
teacher_name {'Sahay Sir', 'Arvind Sir', 'Arun Sir', 'Amit Sir'}
timning ('4:30 AM', '5:30 PM')

In [30]:
d11.pop("timning")

('4:30 AM', '5:30 PM')

In [33]:
d.fromkeys((1,2), ('a', 'b', 'c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c')}

In [34]:
d12 = {"key1": "value", "key2": "value2"}
d13 = {"key3": "value3", "key4": "value4"}

In [35]:
(d12, d13)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [39]:
d12.update(d13)
d12

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [40]:
d12.get("key1")

'value'

In [41]:
d13.get("Not_key")

In [42]:
d13["Not_key"]

KeyError: 'Not_key'

#### A List of Tuples with Enumerate

In [1]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

days_tuples = list(enumerate(days, start=1))
print(days_tuples)

[(1, 'Sunday'), (2, 'Monday'), (3, 'Tuesday'), (4, 'Wednesday'), (5, 'Thursday'), (6, 'Friday'), (7, 'Saturday')]

In [3]:
def enumerate(days, start=0):
    n = start
    for day in days:
        yield n, day
        n += 1

days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

print(list(enumerate(days)))

[(0, 'Sunday'), (1, 'Monday'), (2, 'Tuesday'), (3, 'Wednesday'), (4, 'Thursday'), (5, 'Friday'), (6, 'Saturday')]